.container_create_Edit_Channel{
    background-color: rgba(0,0,0,0.697);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
}
.container2_create_Edit_Channel{
    margin: auto;
    background-color: rgba(55,57,67,0.293);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 30rem;
    padding: 0.8rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px white -2px -2px white;
}
.ibox,.iBtn{
    font-size: 1rem;
    padding: 0.2rem;
    background-color: transparent;
    color: black;
    border-radius: 0.5rem;
    margin: 0.2rem;
    font-weight: bold;
    outline: none;
    padding: 0.5rem;
}
.iBtn{
    background-color: white;
    cursor: pointer;
    padding: 0.5rem;
}
.iBtn:hover{
    color: orange;
    background-color: black;
    transition: 2s all;   
}
.ibtn_x{
    padding: 0;
    border: 0;
    color: white;
    background: transparent;
    font-size: 2rem;
    right: 50px;
    cursor: pointer;
    position: absolute;
    transition: 1s all;
}
.ibtn_x:hover{
    color: orange;
}
.container2_create_Edit_Channel h1{
    
    color:whitesmoke
}
.container2_create_Edit_Channel input,.container2_create_Edit_Channel textarea{
    color: aliceblue;
    padding: 0.5rem;
    border: 2px solid white;
}