.Container_LibraryPage{
    border-bottom: 1px solid green;
    padding: 1rem 2rem;
    color: aliceblue;
    display: flex;
}

.titleContainerLibraryPage{
    margin: 0.5rem 4rem;
}
.titleContainerLibraryPage b{
    margin:auto 0.5rem;
    padding: 0.5rem;
    font-size: medium;
}
.Container_video_List_Library_Page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
}
