body{
    margin: 0px;
    padding: 0px;
}
.Channel-Logo{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: rgb(224,227,214);
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
    
}
.fst-char-logo-app{
    margin: auto;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
.fst-char-logo-app p{
    margin: auto;
}
.container-pages-app{
    display: flex;
    background-color: rgb(19, 19,19);
}
.container2-pages-app{
    width: calc(100vw - 5rem);
    height: calc(100vh - 3.65rem);
    border: 2px solid rgb(128,128,128,0.45);
    overflow-y: auto;
}
.video_box{
    width: 21rem;
    height: 17rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
}
video{
    background-color: rgb(8,8,8,0.662);
}